- content_for :sidebar do
  - if current_user && @artist
    .span-4
      = link_to 'add new artist', new_user_artist_path(@user)
  .span-4
    = link_to 'Users', users_path
  .span-4
    = link_to "Albums of #{@user.login}", user_albums_path(@user)


.span-20.last
  %h1 
    Artists of
    = @user.login
  %table
    %tr
      %th Name
      - @artists.each do |artist|
        %tr
          %td= link_to(artist.name, user_artist_albums_path(@user,artist.id))
