.span-20.last
  %h1 New Artist
  = form_for [@user, @artist] do |form|
    .span-20.last
      = form.error_messages
    .span-4
      = form.label :name
    .span-16.last    
      = form.text_field :name
    .span-20.last  
      = form.submit('create')
  