- content_for :breadcrumbs do
  =# breadcrumbs(@user)

- content_for :sidebar do
  .span-4.add_ablum_link
    - if current_user && @artist
      = link_to 'add new album', new_user_artist_album_path(@user,@artist)
    - else
      &nbsp

.span-20.large.last
  - if @user
    Albums of 
    = @user.login
  - else
    &nbsp
.album_list.span-20.last
  %h1 Albums
  %table
    %tr
      %th Cover
      %th Artist
      %th Title
      - @albums.each do |album|
        %tr
          %td= link_to(image_tag(album.cover.url :thumb),user_album_path(album.user, album))
          %td= album.artist.name
          %td= link_to(album.title, user_album_path(album.user,album))
