- if current_user
  .span-4
    Hi 
    = current_user.login
  .span-19
    = render :partial => '/layouts/search'
  .span-1.last
    = link_to 'logout', logout_path

- else
  .span-4
    &nbsp
  .span-19
    = render :partial => '/layouts/search'
  .span-1.last  
    = link_to 'login', login_path