!!!
%html
  %head
    %title CdVerwaltung
    = stylesheet_link_tag 'blueprint/screen'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      .span-24.last
        &nbsp
      = render :partial => '/layouts/navigation'
      .span-24.last
        .span-4
          &nbsp
        .span-20.last
          - if flash[:notice]
            %p.success 
              = flash[:notice]
          - if flash[:error] 
            %p.error 
              = flash[:error]
      .span-24.last
        &nbsp
      .span-4 
        .span-4.last
          = link_to 'All Users', users_path
        .span-4.last
          = link_to "My artists", user_artists_path(current_user) if current_user
        .span-4.last
          = link_to "My albums", user_albums_path(current_user) if current_user
        .span-4.last
          = link_to "New artist", new_user_artist_path(current_user) if current_user
        = yield :sidebar
      .span-20.last
        = yield
      .span-24

